

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="border-0 bg-light">
            <div class="p-2 px-3 text-uppercase">Product</div>
          </th>
          <th scope="col" class="border-0 bg-light">
            <div class="py-2 text-uppercase">Price</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let book of booksPrices">
          <th scope="row" class="border-0">
            <div class="p-2">
              <img [src]= book.cover alt="" width="70" class="img-fluid rounded shadow-sm">
              <div class="ml-3 d-inline-block align-middle">
                <h5 class="mb-0"> {{ book.title}} </h5>
              </div>
            </div>
          </th>
          <td class="border-0 align-middle"><strong>{{ book.price | currency:'EUR' }}</strong></td>
        </tr>
        <tr>
          <td class="list-group-item active total">
              <strong>Total</strong> {{ cartTotal | currency:'EUR' }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>discount :</strong> {{discount | currency:'EUR'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>